# my global config
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'my-project'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules"
  # - "first.rules"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape:
scrape_configs:
  - job_name: 'app'

    scrape_interval: 5s

    metrics_path: '/prometheus'

    static_configs:
         - targets: ['vp-opti:8080']

  - job_name: 'cadvisor'

    scrape_interval: 5s

    metrics_path: '/metrics'

    static_configs:
         - targets: ['cadvisor:8080']